<html>
<head>
<title>Michels Index</title>
<body>
<h1 style="color:red;"> WELCOME TO {{ servername }} </h1>
<p>Michels första sida på denna webbserver!<br />Hello World!</p>
<p>Länk till <a href="https://www.google.com">Google!</a></p>
</body>
</html>
